
$about-header-color:#262830
$cart-color: white
$html-color: #222
$footer-text-color: $about-header-color
$html-color-lighter: $about-header-color
$header-color: #f98e5c
$header-h-color: $about-header-color
$background-color: #f7f4ea
$body-h2-color: $header-color
$menu-text-color: $about-header-color
$menu-background-color: #FCFCFC 
$tomatored: $header-color
$mossgreen: #009933