
$about-header-color: #444
$footer-text-color: rgb(220,220,220)
$html-color: #222
$header-color: #AAA
$header-h-color: #444
$background-color: #FAFAFA
$body-h2-color: $header-color
$menu-text-color: #444
$menu-background-color: #FCFCFC 
$tomatored: #F25C66