<!doctype html>
<html class="no-js" lang="">

<head>
  {% set tabAboutDesc = "About Rahmn's gallery" %}
  {% include 'content/head.jinja2' %}
  <link rel="stylesheet" href="/css/about-{{gitSha}}.css">
</head>

<body>
  {% include 'content/header.jinja2' %}
  {% set page = 'about' %}
  {% include 'content/menu.jinja2' %}
  <div class="body">
	 <div>
	  <div id="left">
	  	<h3> About </h3>
	  	<p id="about">

        <b>Halloj!</b><br>

        I'm a passionate photographer living and working from my home studio in Mölndal.
        I dabble with many styles of photography, ranging from capturing night scenes on analogue film to 
        digital wedding photography. While I do pride myself with my knowledge in photography and lighting that is not what drives me. The one thing I truly love is photographing people!
        As a portrait photographer you fortunate enough to get to meet and know  new interesting people. A photo session is truly a conversation, 
        a conversation between the sitter and the photographer, a conversation brief in time yet captured forever. It is truly a rewarding experience to laugh and work together and I love every moment of it.  
        
        <br><br>
		      Ha det gött!<br>
	  	    Lukas Rahmn
	  	</p>
	  	
		<h3>Portrait sessions & Wedding photography</h3>
		<p>
        I regularly accept bookings for photo sessions, and if you think think I could help you I would love to hear from you!
        I do both on location shoots and studio photography of which you can see a collection on my <a class="normal" href="/portraiture">portraiture page</a>. 
		
		I focus on creating interesting and creative images together with my subjects. My belief is that creating a creative yet comfortable atmosphere is the key to 
		capturing interesting and evocative imagery and it underpins my entire workflow. A truly successful photo session is one where you don't just walk away with amazing images, but 
		enjoyed every moment spent creating them.
		<br><br>

		Since my work varies quite a lot and no two assignment are the same I don't have any fixed pricing, I would ask that you contact me so I can understand your needs and prepare a quote.
		
		Good to know is that I'm of course I'm registered fo F-Skatt. 
		<br><br>

		If you have any questions feel free to contact me! If you prefer to talk I also provide free pre-booking video/phone consultation sessions.
		<br><br>

		I'd love to hear from you!
		</p>

	  	<h3>Print sales</h3>
		<p>
			
			If you are interested in buying a physical print of my art I'm happy to say that I have an online <a href="/store">store</a>.<br><br>
			I print all my pieces myself and ships them from Mölndal to ensure that I have full control over the quality of my work. The prints are made using a high end printer, archival grade inks 
			and Hahnemühle fine-art papers.<br><br>

			Shipping is included and the prints are shipped using PostNord as soon as the print is ready. 
			At this time I do not provide framing services for online orders due to the cost and difficulties of shipping framed items. 
			<br><br>

			If you have any questions regarding prints or ordering please write to <span>gallery@rahmn.net</span> or DM on <a class="normal" href="https://www.instagram.com/lukasrahmn/" >Instagram</a>
		</p>

		<h3>Returns</h3>
		<p>
			Prints are examined carefully before shipping for any quality issues. In the unfortunate event that you do receive a damaged or defective print I ask that you contact me and provide
			pictures of the damage. Such damaged prints will be replaced free of charge or refunded if unable to provide a new print. The exception to this is if damaged arose due to mishandling by the customer. <br><br>

			Do note that inkjet prints are very delicate by nature and should be handled by the edges to avoid scratching or thumbprints on the print surface. To ensure longevity of artwork I highly 
			recommend framing it behind glass or alternatively laminating it. If you have any questions regarding care or framing don't hesitate to contact me.<br><br>

			If you are unhappy with your print for any reasons you have the right to revoke the purchase within 14 days of receiving it. In such a case write to <span>gallery@rahmn.net</span>
			to arrange return and refund. In this case the return shipping cost is covered by the customer.<br><br>
		</p>


	  	<h3>Contact</h3>
	  	<p id="contact">
	  		Feel free to contact me by email or DM me for any inquiries you might have. 
	  	      To avoid spam I leave it as an exercises to the reader to 
	  	      replace "firstname" and "surname" with my actual name in the email below.
	  	      <span id="email">firstname@surname.net</span>
	  	</p>
		<p>
			I'm also available at <a class="normal" href="https://www.instagram.com/lukasrahmn/" >Instagram</a> 
			and I would be very happy if you decide to follow me.

      For those preferring Facebook, I have a <a  class="normal" href="https://www.facebook.com/rahmnphoto/">page</a> there as well. 
		</p>

		<h3>Privacy</h3>
		<p>	
			By default this website does not use cookies or any tracking technologies, so rest assured your privacy is respected.
			There are though some exceptions to this rule when visiting the sites store:
			<ul>
				<li> To facilitate easy shopping the content of your cart is saved persistently in your browser. </li>
				<li> To be able to process any order you place some information is required to fulfill order. Such information includes items as 
				      name, shipping address, phone number and payment information. Any such information is only collected during the checkout process
					  by the Payment provider Stripe and processed on behalf of this website. For additional information of what information is collected
					  by using the "Stripe Checkout" please also refer to <a class="normal" href="https://stripe.com/se/privacy">Stripe's privacy policy </a>

					  The contact information you provide and the order content is made available and processed by this Website in order to fulfill your order.
				</li>
			</ul>
		</p>
	  	<h3>Concerning the website</h3>
	  	<p id="tech">
	  	      The technical inclined readers might be interested to know that this
	  	      website is made by my and available as open source (MIT license) at 
	  	      <a href="https://github.com/VirtualRaven/WebGallery">Github</a>.
          Note it is only the website itself, not the images, that is licensed under the terms of 
          the MIT licenses.
		      All icons on the website is kindly provided by <a href="https://icons8.com/">Icons8</a> 

	  	</p>
	  </div>
  </div>

  {% include 'content/footer.jinja2' %}
  <script src="/js/menu.js"></script>
</body>

</html>
