<!doctype html>
<html class="no-js" lang="">

<head>
  {% set tabAboutDesc = 'Work by category' %}
  {% include 'content/head.jinja2' %}
</head>

<body>
    {% include 'content/header.jinja2' %}
    {% set page = 'categories' %}
    {% include 'content/menu.jinja2' %}
    
    <div class="body">
        {% for catName, pics in  sortedbycategories %}
        {% if catName != "Portraiture" %}
        <h2 id="{{catName}}">{{catName}}</h2>
        <div class="gallery" >{% for pic in pics %} {%set image = pic.resource_data.Image %}
            <a id="{{catName}}-{{image.name}}" class="image" style="background-color:{{image.colour}};"   
              {% set medium_thumbnail = resources[image.variants['Medium']] %}
              {% set large_thumbnail = resources[image.variants['Large']] %}
              {% set huge_thumbnail = resources[image.variants['Huge']] %}
                data-width ="{{medium_thumbnail.resource_data.Thumbnail.width }}" 
                data-height="{{medium_thumbnail.resource_data.Thumbnail.height }}" 
                  data-srcset="
                    {{resource_to_url(resource=huge_thumbnail) }} {{huge_thumbnail.resource_data.Thumbnail.width}}w,
                    {{resource_to_url(resource=large_thumbnail) }} {{large_thumbnail.resource_data.Thumbnail.width}}w,
                    {{resource_to_url(resource=medium_thumbnail) }} {{medium_thumbnail.resource_data.Thumbnail.width}}w
                  "
                  data-src= "{{ resource_to_url(resource=medium_thumbnail) }}"
            >
                <span>{{image.name}} </span>
            </a>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <template id="imgTmp">
        <a class="image" >
          <span></span>
          <img></img>
       </a>
    </template>
    {% include 'content/footer.jinja2' %}
    {% include 'content/viewer.jinja2' %}
    <script>
        document.write('<script src="/js/main.js"><\/script>');
    </script>
</body>
</html>
