<!doctype html>
<html class="no-js" lang="">

<head>
  {% set tabAboutDesc = 'Portraiture' %}
  {% include 'content/head.jinja2' %}
</head>

<body>
    {% include 'content/header.jinja2' %}
    {% set page = 'portraiture' %}
    {% include 'content/menu.jinja2' %}
    
    <div class="body">
        <h2>Portraiture</h2>
        <p class="typed-paragraph">

          <b>I am always looking for more opportunities to take portraits!</b>
           Whether it's an impromptu shot in the park or a scheduled session in my apartment studio in Mölndal I enjoy every time.  
           I work with both analog and digital cameras, but there is something magical about analog portraits. 
           I'm available for hire and would love to help you with your next photo project. 
           Please reach out to me with any questions you may have via email at gallery@rahmn.net or on Instagram at <a class="normal" href="https://www.instagram.com/rahmnphoto/" >@rahmnphoto</a>.
        </p>
        {%for catName, pics in sortedbycategories %}
        {% if catName == "Portraiture" %}
        <div class="gallery" >{% for pic in pics %}
            <a href="{{pic.view | tolink }}?src=portraiture&stay" id="{{pic.displayname}}" class="image" style="background-color:{{pic.colour}};"   
                data-width="{{pic.medium.width}}" 
                data-height="{{pic.medium.height}}" 
                  data-srcset="
                    {{pic.huge.path | tolink}} {{pic.huge.width}}w,
                    {{pic.large.path | tolink}} {{pic.large.width}}w,
                    {{pic.medium.path | tolink}} {{pic.medium.width}}w"
                  data-src= "{{pic.medium.path | tolink }}"
            >
                <span>{{pic.displayname}} </span>
            </a>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <template id="imgTmp">
        <a class="image" >
          <span></span>
          <img></img>
       </a>
    </template>
    {% include 'content/footer.jinja2' %}
    <script>
        document.write('<script src="/js/main.js"><\/script>');
    </script>
</body>
</html>
