# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
img/
view/
*.swo
*.swp
website/*.xml
website/*.html
website/resources
kubernetes/secret.yaml
docker-compose-dev.yml
kubernetes/secret-hot.yaml
content-managment/target/
content-managment/main/target/
content-managment/datamodel/target/
content-managment/api/target
content-managment/api/Cargo.lock
content-managment/urlencode/target
content-managment/urlencode/Cargo.lock
.vscode
Cargo.lock
