<div id="cart" class="cart">
    <span id="quantity">0</span>
    <img class="icon" src="/icons/cart.png"></img>
    <div>
        <div class="close-container" id="cart-close">
            <div class="leftright"></div>
            <div class="rightleft"></div>
        </div>
        <h4>Cart</h4>
        <div id="cartitems">
        </div>
        <template id="cartitemtemplate">
            <div class="cartitem">
                <div class="close-container">
                    <div class="leftright"></div>
                    <div class="rightleft"></div>
                </div>
                <div class="quantitycollection">
                    <div class="plusbutton quantitybutton">+</div><span class='quantity'> 0 </span><div class="minusbutton quantitybutton">-</div>
                </div>
                <div class='cartitemdescription'>
                    <a class='itemname'>Name</a>
                    <span class='itemoption'>Name</span>
                    <span class='itemprice'>Name</span>
                </div>
            <div>
        </template>
        <div class="cartbuttons">
            <div id="checkout" class="checkoutbutton">
               Checkout 
            </div>
            Total: <span id="totalprice">0</span>kr
        </div>
    </div>
</div>
<script>
    document.write('<script src="/js/cart.js"><\/script>');
</script>
</script