{% import "content/boldifselected.jinja2" as macros %}
<div class="menu slideout-menu">
    <div class="close-container" id="menu-close">
        <div class="leftright"></div>
        <div class="rightleft"></div>
    </div>
    <ul>
        <li>
            <a href="/"> {{ macros::boldifselected(name='Timeline',current=page, pagename='timeline') }} </a>
            <ul>
                {% for tuple in sortedbyyears -%}
                {% set pics = tuple[1] %}
                {% set key_year = tuple[0] | int -%}
                {% if key_year == 2020 -%}
                {% set key_year_name = "2020 & Earlier" -%}
                {% else %}
                {% set key_year_name = key_year -%}
                {% endif -%}
                {% if key_year > 2019 -%}
                <li> <a href="/#{{key_year}}"> {{key_year_name}} </a></li>
                {% endif -%}
                {% endfor -%}
            </ul>
        </li>
        <li> 
            <a href="/portraiture"> {{ macros::boldifselected(name='Portraiture',current=page,pagename= 'portraiture') }} </a>
        </li>
        <li>
            <a href="/categories"> {{ macros::boldifselected(name='Categories',current=page, pagename = 'categories') }} </a>
            <ul>
                {% for key_category, pics in sortedbycategories -%}
                    {% if key_category != "Portraiture" -%}
                    {% if key_category != "PortraitureHighlights" -%}
                    <li> <a href="/categories#{{key_category}}"> {{key_category}} </a> </li>
                    {% endif -%}
                    {% endif -%}
                {% endfor -%}
            </ul>
        </li>
        {% if storeData -%}
            <li> 
                <a href="/store"> {{ macros::boldifselected(name='Print store',current=page,pagename= 'store') }} </a>
            </li>
        {% endif -%}
        <li> 
            <a href="/about"> {{ macros::boldifselected(name='About', current=page,pagename="about") }} </a> 
        </li>
    </ul>
</div>