  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
 <header>
	<div id="site-logo">
		<h2> <span>LUKAS</span> RAHMN </h2>	  
		<div id="menu">
			<a>Menu</a>
		</div>
	</div>
 </header>