<!doctype html>
<html class="no-js" lang="">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131454169-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
    		function gtag(){dataLayer.push(arguments);}
      		gtag('js', new Date());
        	gtag('config', 'UA-131454169-1');
	</script>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <header>
	<h2>Gallery - Lukas Rahmn </h2>	  
	<div id="menu">
		<a href="about.html">About</a>
	</div>
  </header>
  <div class="body">
	  <div class="gallery" >{% for pic in inventory %}
		  <a href="{{pic.view}}" id="{{pic.name}}" class="image" style="background-color:{{pic.colour}};"   
			  data-width="{{pic.thumbS.width}}" 
			  data-height="{{pic.thumbS.height}}" 
			  data-src="/{{pic.thumbS.path}}"
			  data-src2="/{{pic.thumbM.path}}"
		  >
			  <span>{{pic.name}} </span>
		  </a>
		{% endfor %}
	</div>
  </div>

  <footer>
	  Copyright 2018 Lukas Rahmn. All Rights Reserved.
	   
  </footer>

  <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>
