<!doctype html>
<html class="no-js" lang="">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131454169-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
    		function gtag(){dataLayer.push(arguments);}
      		gtag('js', new Date());
        	gtag('config', 'UA-131454169-1');
	</script>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Lukas Rahmn's gallery</title>
  <meta name="description" content="Gallery for photographies by Lukas Rahmn">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#0F0F0F">
  <meta name="msapplication-navbutton-color" content="#0F0F0F">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Montserrat" rel="stylesheet"> 
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon_square.png">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <header>
	<h2>Gallery - Lukas Rahmn </h2>	  
	<div id="menu">
		<a href="/about">About</a>
	</div>
  </header>
  <div class="body">
	  <div class="gallery" >{% for pic in inventory %}
		  <a href="{{pic.view | tolink }}" id="{{pic.name}}" class="image" style="background-color:{{pic.colour}};"   
			  data-width="{{pic.medium.width}}" 
			  data-height="{{pic.medium.height}}" 
	  		  data-srcset="
			  	{{pic.medium.path | tolink}} {{pic.medium.width}}w,
			  	{{pic.small.path | tolink}} {{pic.small.width}}w,
			  	{{pic.tiny.path | tolink}} {{pic.tiny.width}}w"
     			  data-src= "{{pic.medium.path | tolink }}"
		  >
			  <span>{{pic.name}} </span>
		  </a>
		  {% endfor %}
	</div>
  </div>

  <footer>
	  Copyright {{year}} Lukas Rahmn. All Rights Reserved.
  </footer>

  <template id="imgTmp">
	  <a class="image" >
		<span></span>
		<img></img>
	 </a>
  </template>

 	<script>
		if(false && typeof WebAssembly === "object" && typeof WebAssembly.instantiate === "function"){
  			document.write('<script src="/js/WebASM.js"><\/script>')
		}
		else {
  			document.write('<script src="/js/vendor/modernizr-3.6.0.min.js"><\/script>');
   			document.write('<script src="/js/vendor/jquery-3.3.1.min.js"><\/script>');
  			document.write('<script src="/js/plugins.js"><\/script>');
  			document.write('<script src="/js/main.js"><\/script>');
		}
  	</script>
</body>

</html>
