<!doctype html>
<html class="no-js" lang="">

<head>
  {% if gAdId is defined %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{gAdId}}"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
    		function gtag(){dataLayer.push(arguments);}
      		gtag('js', new Date());
        	gtag('config', '{{gAdId}}');
	</script>
  {% endif %}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>About this gallery</title>
  <meta name="description" content="About Lukas Rahmn's gallery">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <meta name="theme-color" content="#0F0F0F">
  <meta name="msapplication-navbutton-color" content="#0F0F0F">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link href="https://fonts.googleapis.com/css?family=Cinzel|Montserrat" rel="stylesheet"> 
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon_square.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/about.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <header>
	<a href="/">
		<h2>Gallery - Lukas Rahmn </h2>
	</a>
	<div id="menu">
		<a href="/">Back</a>
	</div>
  </header>
  <div class="body">
	  <div id="left">
	  	<h3> About </h3>
	  	<p id="about">
	  	      Welcome to my corner of the web where I display the results of my photography interest. 
	  	      The collection contains many different kinds of photos, of which almost all originates from the 
	  	      neighbourhood of Gothenburg. Which is a fairly large city (by local standards) in Sweden. 
	  	      With this site I hope to be able to share my work, so that it might bring joy to others. 
	  	      If you would like to use any of the images for other than private purposes and/or secure 
		      a physical print I ask that you email me.<br><br>
		      Once again, welcome!<br>

	  	      Lukas Rahmn
	  	</p>

	  	<h3>Contact</h3>
	  	<p id="contact">
	  		Feel free to contact me by email for any questions you might have. 
	  	      To avoid spamming I leave it as an exercises to the reader to 
	  	      replace "firstname" and "surname" with my actual name in the email below.
	  	      <span id="email">firstname@surname.net</span>
	  	</p>
		<p>
			I'm also available at <a class="normal" href="https://www.instagram.com/lukasrahmn/" >Instagram<img style="height: 1em;" src="icons8-instagram.svg"/></a> 
			and I would be very happy if you decide to follow me.
		</p>


	  	<h3>The website itself</h3>
	  	<p id="tech">
	  	      The technical inclined readers might be interested to know that this
	  	      website is selfmade and available as open source (MIT license) at 
	  	      <a href="https://github.com/VirtualRaven/WebGallery">Github</a>.	
		      All icons on the website is kindly provided by <a href="https://icons8.com/">Icons8</a> 

	  	</p>
	  </div>
  </div>

  <footer>
	  Copyright 2018-2020 Lukas Rahmn. All Rights Reserved.
  </footer>

  <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="/js/plugins.js"></script>
</body>

</html>
