<!doctype html>
<html class="no-js" lang="">

<head>
  {% if gAdId is defined %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{gAdId}}"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
    		function gtag(){dataLayer.push(arguments);}
      		gtag('js', new Date());
        	gtag('config', '{{gAdId}}');
	</script>
  {% endif %}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>About this gallery</title>
  <meta name="description" content="About Lukas Rahmn's gallery">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <meta name="theme-color" content="#FAFAFA">
  <meta name="msapplication-navbutton-color" content="#FAFAFA">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">

  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600&display=swap" rel="stylesheet"> 
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon_square.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/normalize-{{gitSha}}.css">
  <link rel="stylesheet" href="/css/main-{{gitSha}}.css">
  <link rel="stylesheet" href="/css/about-{{gitSha}}.css">
  <link rel="stylesheet" href="/css/menu-{{gitSha}}.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <header>
	<div id="site-logo">
		<h2> <span>LUKAS</span> RAHMN </h2>	  
		<div id="menu">
			<a>Menu</a>
		</div>
	</div>
  </header>
  <div class="menu slideout-menu">
      <div class="close-container">
          <div class="leftright"></div>
          <div class="rightleft"></div>
      </div>
      <ul>
          <li>
              <a href="/"> Timeline </a>
              <ul>
                  {% for key_year, pics in (inventory | sortbyyears).items() %}
                  <li> <a href="#{%if key_year != year %}{{key_year}}{%else%}{{top}}{% endif %}"> {{key_year}} </a></li>
                  {% endfor %}
              </ul>
          </li>
          <li>
              <a href="/categories"> Categories </a>
              <ul>
                  {% for key_category, pics in (inventory | sortbycategories).items() %}
                  <li> <a href="/categories#{{key_category}}"> {{key_category}} </a> </li>
                  {% endfor %}
              </ul>
          </li>
          <li> <a href="about"> <b>About my gallery</b> </a> </li>
      </ul>
  </div>
  
  
  <div class="body">
	 <div>


	  <div id="left">
	  	<h3> ABOUT </h3>
	  	<p id="about">
	  	      Welcome to my corner of the web where I share my photography work. 
              I'm a amature photographer living and making photos in Mölndal and the surrounding region.
	  	      What I display here is a curated selection of images, arranged from my most recent creation to the very first photo I took. As such it contains many different styles of photography, 
			  portraits, landscapes and street photos, with no clear focus. Rather the collection is a portrayal of my journey as I try to learn the art of photography. 
			  I do not like or necessarily enjoy every photo herein, but they do show me what I have learned and remind me how differently I would take that photo today. 
			  Of course the point of this website is to share my work and love for photography with people like yourself, so if you are still reading this rambling of mine, I very much hope 
			  that you can enjoy this little website.

			  If you find something of particular interest I'm happy to say that I can provide prints upon requests in size ranging from A4 up to A2. Price depends on 
			  size and the specific image, so for details please write to me. I also keep much higher resolution version of these images, especially for the panoramas which
			  can be made available.
			  Feel free to use the images as you desirer privately, but for commercial use I ask that you that you email me.
			  <br><br>
		      Once again, welcome!<br>

	  	      Lukas Rahmn
	  	</p>

	  	<h3>CONTACT</h3>
	  	<p id="contact">
	  		Feel free to contact me by email for any questions you might have. 
	  	      To avoid spamming I leave it as an exercises to the reader to 
	  	      replace "firstname" and "surname" with my actual name in the email below.
	  	      <span id="email">firstname@surname.net</span>
	  	</p>
		<p>
			I'm also available at <a class="normal" href="https://www.instagram.com/lukasrahmn/" >Instagram<img style="height: 1em;" src="/icons/icons8-instagram.svg"/></a> 
			and I would be very happy if you decide to follow me.
		</p>


	  	<h3>CONCERNING THE WEBSITE</h3>
	  	<p id="tech">
	  	      The technical inclined readers might be interested to know that this
	  	      website is selfmade and available as open source (MIT license) at 
	  	      <a href="https://github.com/VirtualRaven/WebGallery">Github</a>.
		      All icons on the website is kindly provided by <a href="https://icons8.com/">Icons8</a> 

	  	</p>
	  </div>
  </div>

  <footer>
	  Copyright 2018-2020 Lukas Rahmn. All Rights Reserved.
  </footer>

  <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="/js/plugins.js"></script>
  <script src="/js/menu.js"></script>
</body>

</html>
