<!doctype html>
<html class="no-js" lang="">

<head>
  {% include 'content/head.jinja2' %}
  <link rel="stylesheet" href="/css/about-{{gitSha}}.css">
</head>

<body>
  {% include 'content/header.jinja2' %}
  {% set page = 'about' %}
  {% include 'content/menu.jinja2' %}
  <div class="body">
	 <div>
	  <div id="left">
	  	<h3> ABOUT </h3>
	  	<p id="about">

        <b>Halloj!</b><br>

        I'm a passionate amature photographer and analogue enthusiast living Mölndal.
        I dabble with many styles of photography, ranging from capturing night scenes on analogue film to 
        digital wedding photography.
        <br><br>
        Contact me for assignments, I do both on location shoots and studio portraiture.  
        <br><br>
			  If you find an image of particular interest I'm happy to say that I can provide prints upon requests in size ranging from A4 up to A2. Price depends on 
			  size and the specific image, so for details please write to me. I also keep much higher resolution version of these images, especially for the panoramas which
			  can be made available.
			  Feel free to use any image as you desirer privately, but for commercial use or re-posting I ask that you that you email or DM me.
			  <br><br>
		      Ha det gött!<br>
	  	    Lukas Rahmn
	  	</p>

	  	<h3>CONTACT</h3>
	  	<p id="contact">
	  		Feel free to contact me by email or DM me for any inquiries you might have. 
	  	      To avoid spam I leave it as an exercises to the reader to 
	  	      replace "firstname" and "surname" with my actual name in the email below.
	  	      <span id="email">firstname@surname.net</span>
	  	</p>
		<p>
			I'm also available at <a class="normal" href="https://www.instagram.com/lukasrahmn/" >Instagram<img style="height: 1em;" src="/icons/icons8-instagram.svg"/></a> 
			and I would be very happy if you decide to follow me.

      For those preferring Facebook, I have a <a  class="normal" href="https://www.facebook.com/rahmnphoto/">page</a> there as well. 
		</p>


	  	<h3>CONCERNING THE WEBSITE</h3>
	  	<p id="tech">
	  	      The technical inclined readers might be interested to know that this
	  	      website is selfmade and available as open source (MIT license) at 
	  	      <a href="https://github.com/VirtualRaven/WebGallery">Github</a>.
          Not it is only the website itself, not the images, that is license under the terms of 
          the MIT licenses.
		      All icons on the website is kindly provided by <a href="https://icons8.com/">Icons8</a> 

	  	</p>
	  </div>
  </div>

  {% include 'content/footer.jinja2' %}
  <script src="/js/menu.js"></script>
</body>

</html>
