<!doctype html>
<html class="no-js" lang="">

<head>
  {% set tabAboutDesc = 'Work by category' %}
  {% include 'content/head.jinja2' %}
</head>

<body>
    {% include 'content/header.jinja2' %}
    {% set page = 'categories' %}
    {% include 'content/menu.jinja2' %}
    
    <div class="body">
        {% for catName, pics in  sortbycategories %}
        {% if catName != "Portraiture" %}
        <h2 id="{{catName}}">{{catName}}</h2>
        <div class="gallery" >{% for pic in pics %}
            <a href="{{pic.view | tolink }}?src=categories" id="{{pic.displayname}}" class="image" style="background-color:{{pic.colour}};"   
                data-width="{{pic.medium.width}}" 
                data-height="{{pic.medium.height}}" 
                  data-srcset="
                    {{pic.huge.path | tolink}} {{pic.huge.width}}w,
                    {{pic.large.path | tolink}} {{pic.large.width}}w,
                    {{pic.medium.path | tolink}} {{pic.medium.width}}w"
                  data-src= "{{pic.medium.path | tolink }}"
            >
                <span>{{pic.displayname}} </span>
            </a>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <template id="imgTmp">
        <a class="image" >
          <span></span>
          <img></img>
       </a>
    </template>
    {% include 'content/footer.jinja2' %}
    <script>
        document.write('<script src="/js/main.js"><\/script>');
    </script>
</body>
</html>
