<!doctype html>
<html class="no-js" lang="">

<head>
  {% include 'content/head.jinja2' %}
</head>

<body>
    {% include 'content/header.jinja2' %}
    {% set page = 'timeline' %}
    {% include 'content/menu.jinja2' %}

    <div class="body">
        {%for key_year, pics in (inventory | sortbyyears).items() %}
        {%if key_year != year %}
        <h2 id="{{key_year}}">{{key_year}}</h2>
        {%else%}
        <h2>Latest creations</h2>
        {% endif %}
        <div class="gallery" >{% for pic in pics %}
            <a href="{{pic.view | tolink }}" id="{{pic.displayname}}" class="image" style="background-color:{{pic.colour}};"   
                data-width="{{pic.medium.width}}" 
                data-height="{{pic.medium.height}}" 
                  data-srcset="
                    {{pic.huge.path | tolink}} {{pic.huge.width}}w,
                    {{pic.large.path | tolink}} {{pic.large.width}}w,
                    {{pic.medium.path | tolink}} {{pic.medium.width}}w"
                  data-src= "{{pic.medium.path | tolink }}"
            >
                <span>{{pic.displayname}} </span>
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <template id="imgTmp">
        <a class="image" >
          <span></span>
          <img></img>
       </a>
    </template>

    {% include 'content/footer.jinja2' %}
    <script>
        document.write('<script src="/js/main.js"><\/script>');
    </script>
</body>
</html>
