{% import 'content/macros.jinja2' as macros %}
<!doctype html>
<html class="no-js" lang="">

<head>
  {% set tabAboutDesc = 'Print store' %}
  {% include 'content/head.jinja2' %}
  <link rel="stylesheet" href="/css/store-{{gitSha}}.css">
</head>

<body>

  {% include 'content/header.jinja2' %}
  {% set page = 'store' %}
  {% include 'content/menu.jinja2' %}
   <div class="body">
       {%for category, prints in storeData.prints %}
       <h2 id="{{category}}">{{category}}</h2>
       <div class="category" >{% for print in prints %}
           {% set pic = print.data %}
           <div class="printContainer">
               <div class="print">
                   <h4 id="{{pic.displayname}}">{{pic.displayname}} </h4>
                   <div class="printBorder">
                       {{ macros::imageA( href="/store/print/" ~ pic.dropbox.id,pic=pic,image="printImage")}}
                   </div>
                   <p class="description"> 
                    {{print.description}}
                   </p>
               </div>
           </div>
           {% endfor %}
       </div>
       {% endfor %}
   </div>
   {% include 'content/footer.jinja2' %}
   <script>
       document.write('<script src="/js/store.js"><\/script>');
   </script>
    {% include 'content/cart.jinja2' %}
</body>
</html>
